<form class="form-inline">
    <input type="hidden"
           name="card[list_id]"
           value="<%= list.id %>">

    <input type="text" 
           name="card[title]" 
           id="list_title" 
           class="form-control"
           placeholder="List title">
           
    <div class="btn-group pull-right">  
      <button class="btn btn-xs" 
             type="submit" 
             id="add"
             ><span class="glyphicon glyphicon-plus"></span></button>
      <div class="clearfix"></div>
    </div>
</form>