<div class="panel card">
  <form class="form-inline new-card" id="new-card-form">
      <input type="hidden"
             name="card[list_id]"
             value="<%= list.id %>">
             
    <div class="panel-heading">
      <input type="text" 
             name="card[title]" 
             id="list_title" 
             class="form-control"
             placeholder="Card title">
    </div>
    
    <div class="panel-body">       
      <input type="text" 
            name="card[description]" 
            id="list_title" 
            class="form-control"
            placeholder="Card description">
    </div>
           
      <div class="btn-group pull-right">  
        <button class="btn btn-xs add" 
               type="submit" 
               id="submit-new-card"
               ><span class="glyphicon glyphicon-plus"></span></button>
        <div class="clearfix"></div>
      </div>
  </form>
</div>
