<div class="container col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="btn-group pull-right">
        <button class="btn btn-xs glyphicon glyphicon-remove pull-right"  
                id="destroy"
                data-id="<%= board.id%>"> 
      </div>
      <a class="" 
         href="#/boards/<%= board.get("id") %>">
        <h4><%= board.get("title") %></h4>
      </a>
    </div>
    <div class="panel-body">
      [placeholder for lists]
    </div>
  </div>
</div>



