<div class="col-xs-4">
  <div class="panel board">
    <div class="panel-heading">
      <a class="" 
         href="#/boards/<%= board.get("id") %>">
        <h4><%= board.get("title") %></h4>
      </a>
    </div>
    <div class="panel-body">
      <div class="btn-group pull-right">
          <button class="btn btn-xs glyphicon glyphicon-plus"  
                  id="board-member"> 
        </div>    
        <div class="clearfix"></div>
    </div>
  </div>
</div> 



