<div class="col-xs-4" data-board-id=<%=board.id%>>
  <div class="panel board">
    <div class="panel-heading">
      <a class="" 
         href="#/boards/<%= board.get("id") %>">
        <h4><%= board.get("title") %></h4>
      </a>
    </div>
    <div class="panel-body">
      <div id="members">
        <div class="btn-group pull-right">
            <button class="btn btn-xs glyphicon glyphicon-plus"  
                    id="new-member"> 
          </div>    
          <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div> 



