<form class="form-inline">
    <input type="text" 
           name="board[title]" 
           id="board_title" 
           class="form-control"
           placeholder="Board title">
    
  <input class="btn-success" 
         type="submit" 
         value="+"
         ></input>
</form>


