<form class="form-inline" id="new-board-form">
    <input type="text" 
           name="board[title]" 
           id="board_title" 
           class="form-control"
           placeholder="Board title">
           
    <div class="btn-group pull-right"> 
      <button class="btn btn-xs glyphicon glyphicon-plus" 
             type="submit"
             id="add" 
             ></button>
      <div class="clearfix"></div>
    </div>
</form>


