<form class="form-inline">
    <input type="text" 
           name="board[title]" 
           id="board_title" 
           class="form-control"
           placeholder="Board title">
    
    <div class="btn-group glyphicon glyphicon-plus pull-right">  
      <button class="btn btn-xs" 
             type="submit" 
             id="add"
             ></button>
      <div class="clearfix"></div>
    </div>
</form>


