<form class="form-inline" id="new-board-form">
    <input type="text" 
           name="board[title]" 
           id="board_title" 
           class="form-control"
           placeholder="Board title">
    
      <button class="btn btn-xs glyphicon glyphicon-plus" 
             type="submit" 
             ></button>
    </div>
</form>


