<form class="form-inline" id="new-member-form">
    <input type="text" 
           name="board[newMemberEmail]" 
           id="member_email" 
           class="form-control"
           placeholder="New member">
    
    <div class="btn-group glyphicon glyphicon-plus pull-right">  
      <button class="btn btn-xs" 
             type="submit" 
             >Add</button>
      <div class="clearfix"></div>
    </div>
</form>

