<form class="form-inline" id="new-member-form">
    <input type="text" 
           name="board[newMemberEmail]" 
           id="member_email" 
           class="form-control"
           placeholder="New member">

      <button class="btn btn-xs glyphicon glyphicon-plus pull-right" 
              id="new-member-submit"
              type="submit" 
             ></button>
      <div class="clearfix"></div>

</form>

