<div class="row">
  <h1 class="col-xs-6">
    <%= board.get("title") %>
  </h1>
  
  <h1>
    <button class="btn btn-lrg glyphicon glyphicon-trash pull-right"  
            id="destroy"></button>
  </h1>
</div>

<div class="row">
  <div class="lists">
  </div>

  <div class="col-xs-4">
    <div class="panel list">
      <div class="panel-heading new-list"> 
        <div class="btn-group pull-right">
          <button class="btn btn-xs" 
                  id="new-list"> 
          <span class="glyphicon glyphicon-plus"></span>
        </div>  
        <div class="clearfix"></div>
      </div>
    </div>
  </div> 
</div>











