<div class="row">
  <h1 class="col-xs-6"><%= board.get("title") %></h1>
</div>

<div class="row">
  <div id="lists">
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading new-list"> 
        <div class="btn-group pull-right">
          <button class="btn btn-xs" 
                  id="new-list"> 
          <span class="glyphicon glyphicon-plus"></span>
        </div>  
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
 
</div>











