<div class="container">
  <%= render "layouts/errors" %>

  <form action="<%= users_url %>" method="POST">
    <%= auth_token_input %>
    <label>
      Email<br>
      <input class="form-field" type="text" name="user[email]">
    </label>
    <br>
    <label>
      Password<br>
      <input class="form-field" type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" class="btn btn-primary" value="Sign Up">
    <a href="<%= new_session_url %>">Back to Login</a>
  </form>
</div>
