/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  background: #019fde;
}

label, h1, h3, li, a, .btn-primary, .navbar, .navbar-brand, .navbar-btn  {
  color: #FFFFFF;
}

.btn {
 border: none;
}

.form-field, .modal-title {
  color: #777777;
}

.navbar, .navbar-brand, .navbar-btn, .btn-primary   {
  background: #255078;
}

#sign-in-button, #sign-up-button {
  background: #6C8EAA;
  margin-top: 15px ;
}

#sign-in-button {
  border-radius: 5px 0px 0px 5px;
}

#sign-up-button {
  border-radius: 0px 5px 5px 0px;
}


