/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);*/
@import "bootstrap";

* {
  font: 14px 'Signika', 'Helvetica Neue';
}

body {
  background: #2B5E8B;
}

label, h1, h3, li, a, .btn-primary, .navbar, .navbar-btn, .card  {
  color: #FFFFFF;
}

.header-logo-default {
  background-image: url('logo.png');
  height: 27px;
  top: 0;
  width: 80px;
}

.navbar, .navbar-brand, .navbar-btn, .btn-primary {
  background: #255075;
}

.navbar-brand{
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;
}

.btn {
 border: none;
}

#new-board, #new-list, #add, #destroy{
  background: none;
}

.form-field, .modal-title, .board, .list, .panel-heading > *,  {
  color: #393939;
}

#sign-in-button, #sign-up-button {
  background: #6C8EAA;
  margin-top: 15px ;
}

#sign-in-button {
  border-radius: 5px 0px 0px 5px;
}

#sign-up-button {
  border-radius: 0px 5px 5px 0px;
}

.panel {
  border-radius: 15px;
  background-color: #D3D3D3;
}

.card {
   background-color: #393939;
   color: #EEEEEE;
}
