<form class="form-inline">
    <input type="hidden"
           name="list[board_id]"
           value="<%= board.id %>">

    <input type="text" 
           name="list[title]" 
           id="list_title" 
           class="form-control"
           placeholder="List title">
    
    <input class="btn-success" 
           type="submit" 
           id="add"
           value="+"
           ></input>
</form>
