<div class="panel list">
  <div class="panel-heading">
    <h4><%= list.get("title") %></h4>
  </div>
  <div class="panel-body">
    <div id="cards">
      
    </div>
    
    <div class="col-xs-4">
      <div class="panel board">
        <div class="panel-heading new-card"> 
          <div class="btn-group pull-right">
            <button class="btn btn-xs glyphicon glyphicon-plus"  
                    id="new-card"> 
          </div>    
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    
  </div>
</div>

