<h5>
  <%= list.get("title") %>
  <button class="btn  btn-xs pull-right" 
          id="new-card"> 
       <!-- href="#/boards/new" -->
  <span class="glyphicon glyphicon-plus"></span>
  </button> 
</h5>
